@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  min-height: 100vh;

  background: #5272b8; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #5272b8, #5272b8);
  background: -moz-linear-gradient(right, #5272b8, #5272b8);
  background: -o-linear-gradient(right, #5272b8, #5272b8);
  background: linear-gradient(to left, #5272b8, #5272b8);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.input-form {
  max-width: 680px;
  margin-top: 80px;
  padding: 32px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

h4{
  text-decoration-line:underline;
  text-underline-position: under;
  text-decoration-color: #5272b8;
}
